<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!--Our CSS-->
    <link rel="stylesheet" type="text/css" href="../Asset/style.css">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title></title>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="barra-lateral col-2 col-sm-auto">
                <div class="logo">
                    <h2>E-Commerce food</h2>
                    <hr />
                </div>


                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a href=@Url.Action("Inicio", "Inicio") class="nav-link">Inicio</a>
                    <a href=@Url.Action("BusquedaProductos", "BusquedaProductos") class="nav-link">Búsqueda de productos</a>
                    <a href=@Url.Action("VerCarrito", "Carrito") class="nav-link">Ver carrito</a>
                    <!--<a href="./Configuracion.html" class="nav-link">Configuración</a>
                    <a href="" class="nav-link">Salir</a>
                    <div class="text-center">
                        &nbsp;<br />
                        <asp:Label class="session text-center" ID="labelSession" runat="server" Text=""></asp:Label>
                    </div>-->
                </nav>
                <div class="text-center">
                    <nav>
                        <li class="dropdown text-center">
                            <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
                                <img src="../Asset/Images/avatar.png" class="avatar">
                                <div>
                                    <span></span>
                                </div><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-center dropdownAvatar text-center">
                                <li><a href=@Url.Action("Configuracion", "ConfiguracionUsuario")><i class="fa"></i>Configuracion</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("LogOut", "Login")"><i class="fa"></i>Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </nav>

                </div>
            </div>
            <div class="col-9">
                <!--==================================
                =            ACA EDITAMOS            =
                ===================================-->
                @RenderBody()
                <hr />
            </div>
        </div>
    </div>
    <footer class="footer bg-dark">
        <div id="google_translate_element" style="text-align: center"></div>
        <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({ pageLanguage: 'es', includedLanguages: 'de,en,es,it', autoDisplay: false }, 'google_translate_element');
                }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </footer>
</body>

</html>
