
@{
    ViewBag.Title = "CambiarContrasena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="container pt-5">


    <div class="row pt-3 justify-content-center bg-secondary mt-5" style="border-radius: 20px">
        <div class="col-5">
            <h1 class="lead text text-white text-center">Cambio de contraseña</h1>
        </div>
    </div>


    <div class="row pt-5 justify-content-center">
        <div class="col-4">
            <!--=====================================
                    =            Inicio inputs              =
                    ======================================-->
            <!-- Contraseña vieja -->
            <div class="input-group input-group-sm mb-3 pt-2">
                <input type="text" name="" id="" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text text-info">Contraseña anterior</span>
                </div>
            </div>

            <!-- Contraseña nueva-->
            <div class="input-group input-group-sm mb-3">
                <input type="text" name="" id="" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text text-info">Contraseña nueva</span>
                </div>
            </div>

            <!-- Confirma nueva-->
            <div class="input-group input-group-sm mb-3">
                <input type="text" name="" id="" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text text-info">Confirma contraseña</span>
                </div>
            </div>

            <!-- Guardar boton -->
            <div class="input-group input-group-sm mb-3 justify-content-center pt-5">
                <button type="button" class="btn btn-outline-info rounded-bottom" style="border-radius: 12px">Aplicar cambios</button>
            </div>

            <!--====  End of inputs  ====-->

        </div>
    </div>
</main>