@model Models.Admin

@{
    ViewBag.Title = "CrearUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main role="main" class="container pt-5">

    <div class="row pt-5 justify-content-center "></div>
    <div class="row pt-3 justify-content-center bg-info" style="border-radius: 20px">
        <div class="col-5">
            <h1 class="lead text text-white text-center">Crear cuenta nueva</h1>
        </div>
    </div>


    <div class="row pt-5 justify-content-center">
        <div class="col-4">


            <!--=====================================
            =            Inicio inputs              =
            ======================================-->
            @using (Html.BeginForm("CrearUsuario", "Seguridad", new { id = @ViewBag.ContrasenaConfirma }, FormMethod.Post, null))
            {
                <!-- Usuario -->
                <div class="input-group input-group-sm mb-3 pt-4">

                    <input type="text" name="Username" id="Nombre" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text text-info">Usuario</span>
                    </div>
                </div>

                <!-- Contraseña -->
                <div class="input-group input-group-sm mb-3">
                    <input type="password" name="PasswordHash" id="Contrasena" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text text-info">Contraseña</span>
                    </div>
                </div>

                <!-- Confirma -->
                <div class="input-group input-group-sm mb-3">

                    <input type="password" name="ContrasenaConfirma" id="ContrasenaConfirma" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text text-info">Confirma contraseña</span>
                    </div>
                </div>

                <!-- Correo -->
                   <div class="input-group input-group-sm mb-3">
                        <input type="email" name="Email" id="Email" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text text-info">Correo</span>
                        </div>
                    </div>

                <!-- Pregunta -->
                <div class="input-group input-group-sm mb-3">
                    <input type="text" name="SecurityQuestion" id="PreguntaSeguridad" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text text-info">Pregunta seguridad</span>
                    </div>
                </div>

                <!-- Respuesta -->
                <div class="input-group input-group-sm mb-3">
                    <input type="password" name="SecurityAnswerHash" id="RespuestaSeguridad" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text text-info">Respuesta de seguridad</span>
                    </div>
                </div>

                <!-- Guardar boton -->
                <div class="input-group input-group-sm mb-3 justify-content-center pt-5">
                    <button type="submit" id="crearusuario" name="crearusuario" value="crearusuario" class="btn btn-outline-info rounded-bottom" style="border-radius: 12px">Crear usuario</button>
                </div>

                <!--====  End of inputs  ====-->

            }

        </div>
    </div>

    @Html.Raw(TempData["msg"])
</main>
<!--====  End of Inicio del cuerpo  ====-->
