body {
    /*background: #f2f2f2;*/
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #f2f2f2;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10%;
    align-items: center;
}
.barra-lateral {
    background: #262a34;
    color: #fff;
    min-width: 300px;
    min-height: 100vh;
    padding: 0;
}
.barra-lateral a {
    color: #fff;
}
/* --- LOGO --- */

.barra-lateral .logo {
    background: #992711;
    margin-bottom: 2px;
}
.barra-lateral .logo h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
}
/* --- MENU --- */

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.barra-lateral .menu a:hover {
    background: #ff6a00;
    text-decoration: none;
}
.barra-lateral .menu a i {
    margin-right: 20px;
    font-weight: normal;
}
.session {
    color: #ff6a00;
}
li {
    list-style: none;
}
.dropdownAvatar {
    background-color: #118a99;
}
.dropdown-menu-center {
    top: 60% !important;
    right: auto !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
}
.nav-justified>li>a {
    color: white;
    background: #262a34;
}
.nav-justified>li>a.active, .nav-justified>li>a.active:hover, .nav-justified>li>a.active:focus {
    background: #ff6a00;
    color: white;
    cursor: default;
}