@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-inverse">
    <div class="row justify-content-center">
        <h1 class="display-4 text-info">Bienvenido</h1>
    </div>
    <div class="row justify-content-center">
        <img src="~/Asset/Comidas.jpg" class="rounded-circle" style="display:inline" alt="Bird" width="450" height="450">
    </div>
</div>
